
<div class="page-header">
  <h1>Power of 10 <small>10 Photos :: 10 Minutes :: Share your skills with the world</small></h1>
</div>

<%= render :partial => 'essays/preview', :collection => @essays %>
