body { margin-top: 5px; }
.field_with_errors { display: inline-block; background-color: #fee; }
#photo .photo { width: 100% }
.centered { text-align: center; }
.hero-unit h1 { margin-bottom: 30px; }

.essay-preview {
  border-bottom: 1px dashed #90B0D0; padding: 30px 0;

  img { width: 100%; }
  h3, p { font-weight: normal; color: #fff; margin-bottom: 5px; font-size: 18px; }
  h3 { background-color: #484848; padding: 10px; }
  p span { font-weight: normal; background-color: #5C5C5C; color: #fff; padding: 10px; display: inline-block; }
  a.btn { margin-top: 50px; }
}


.yui3-aclist-item-active {
  background: #2647A0;
  color: white;
  outline: 0;
}
.yui3-aclist-item-active {
  outline: #AFAFAF dotted thin;
}
.yui3-aclist-item {
  cursor: pointer;
  list-style: none;
  padding: 2px 5px;
}

.yui3-aclist-content {
  background: white;
  border: 1px solid #AFAFAF;
  -moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.58);
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.58);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.58);
}

#map-image { float: right; }